.vscode/
fenicsx/
cpp/Fastor/
*__pycache__/

mesh/*.py
mesh/*.geo
*.png
*.pvtu
*.vtu
*.pvd
*.c
*.h
*.avi
*u_t.h5
*u_t.xdmf

*build/

!westervelt_forms.png
!cclake_dof_per_second.png
!skylake_dof_per_second.png