.vscode/
cpp/Fastor/
python/src/hifusim.egg-info
*__pycache__/

mesh/*.py
mesh/*.geo
*Fastor/
*sol/
*vtk/
*data*
*.bp
*.jpeg
*.png
*.pvtu
*.vtu
*.pvd
*.c
*.h
*.avi
*u_t.h5
*u_t.xdmf
cpp/fenicsx/benchmarks/*/mesh.*

*build/

!westervelt_forms.png
!cclake_dof_per_second.png
!skylake_dof_per_second.png